@font-face {
  font-family: pixel;
  src: url("assets/fonts/pixel-font.otf");
}

body {
  margin: 0;
  background-color: #0c134f;
  image-rendering: pixelated;
  font-family: pixel;
}

#gameCanvas {
  display: block;
  cursor: url("assets/crosshairs/crosshair6e.png") 15 15, crosshair;
}

#menuCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.score-container {
  position: fixed;
  color: wheat;
  top: 5px;
  left: 5px;
  user-select: none;
  display: none;
}

.collectable-container {
  display: none;
}

#coin {
  position: fixed;
  color: wheat;
  top: 15px;
  right: 5px;
  user-select: none;
  font-size: 20px;
}
#gem {
  position: fixed;
  color: wheat;
  top: 35px;
  right: 5px;
  user-select: none;
  font-size: 20px;
  margin-top: 35px;
}
