@font-face {
  font-family: pixel;
  src: url("assets/fonts/pixel-font.otf");
}

body {
  margin: 0;
  background-color: #0c134f;
  image-rendering: pixelated;
  font-family: pixel;
}

canvas {
  display: block;
  cursor: url("assets/crosshairs/crosshair6e.png") 15 15, crosshair;
}

.score-container {
  position: fixed;
  color: wheat;
  top: 5px;
  left: 5px;
  user-select: none;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.background {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
}

.background h1 {
  margin: 0;
}

.start-button {
  background-color: lightblue;
  width: 100%;
  border: none;
  padding: 20px;
  font-family: pixel;
  box-shadow: -5px 0 0 0 black, 5px 0 0 0 black, 0 -5px 0 0 black,
    0 5px 0 0 black;
}

.start-button:hover {
  background-color: rgb(115, 196, 224);
}

.start-button:active {
  background-color: rgb(90, 188, 221);
}
